html{
  padding: 0;
  overflow-x: hidden;
}


body{
  overflow-x: hidden;
  background-color: rgb(13, 117, 45);
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  overflow-x: hidden;
  
}



.App {
  text-align: center;
margin: auto;

}

.jumbo{
  background-color: whitesmoke;
    width: 100%;
}

h1{
  margin: 0;
 
  font-family: 'Sigmar One', cursive;
  
}

.animal-pic{
  width: 20%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: block;
  margin: auto;
  pointer-events: none;
}


.cats-dogs-img{
  width: 150px;
      margin-top: 25px;
  
}

.images-container{
 display: flex;
 flex-wrap: wrap;
 align-items: baseline;
 flex: 1;
width: 50%;
margin: auto ;
margin-bottom: 25px;

}

.animal-btn{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid  rgb(23, 141, 72);;
  margin: 25px;
  cursor: pointer;
  font-family: 'Sigmar One', cursive;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.purry-title{
  font-family: 'Covered By Your Grace', cursive;
}




.animal-btn:hover {
  background-color: rgb(250, 255, 250);
  transition: ease-in;
  transition-duration: 200ms;
  width: 210px;
  height: 210px;
  

}

.main-title{
  background-color: #064e48;
background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");

  padding: 40px 20px;
  color: rgb(33, 216, 201);
  font-size: 1.4rem;
  position: relative;
  border-bottom: 2px solid whitesmoke;
}

.main-content{
  position: relative;
  
}

.image-container{
  border-radius: 10px;
padding: 10px;
border-radius: 10px;
margin: auto;


}

.image{
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

image:hover{
  
  border: 2px solid white;
  
}

.image-in-box{
width: 45%;
border-radius: 10px;
}

.img-link{
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
}

.close-box-btn{
  float: right;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;  
}

.close-box-btn{
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.close-box-btn:hover{
  background-color: rgb(255, 255, 255);
  transition: ease-in;
  transition-duration: 200ms;
 

}


.button-container{
margin-top: 50px;
  display: block;

}

.detail-box{
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-color: rgba(46, 46, 46, 0.9);
  transform: translateX(-50%);
  width: 80%;
  left: 50%;
  height: 80vh;
  position: fixed;
  top: 10%;
  border-radius: 20px;
  overflow-y: scroll;
  padding: 10px;
  word-wrap: normal;
  color: whitesmoke;
 transition-duration: 1000ms;
 transition: ease-in;
 z-index: 50;
 
}


.pagination{
  display: block;
  
}

.pages-title{
  font-family: 'Sigmar One', cursive;
  color: whitesmoke;
}

.page-number{
  font-family: 'Sigmar One', cursive;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;  
  margin: 10px;
}


.detail-box h1{
  margin: 25px;
}

.page-number{
  padding: 5px;
}


.pagination{
 padding: 40px;
  background-color: #064e48;
background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
border-top: 2px solid whitesmoke;

}









